.search-input {
  max-width: 200px; 
  margin-left: auto; 
}

h1 {
  color: darkgreen;
}

.main-cover-block {
  background-image: url('https://media.wired.com/photos/5d8aab8bef84070009028d31/4:3/w_2132,h_1599,c_limit/Plant-Music-1162975190.jpg');
  background-size: cover;
  background-position: center;
  height: 30rem; 
}

.main-text {
  text-shadow: 2px 2px 4px #000;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pagination ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin-right: 10px;
}

.pagination li a {
  color: #333;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination li a:hover {
  background-color: #eee;
}

.product-img {
  width: 40%;
  object-fit: cover;
  margin-bottom: 3em;
}

.custom-divider {
  margin-top: 2em;
  height: 3px;
  background-color: rgb(80, 80, 80);
  border: none;
}
